.color{
    background-color: #00BFB3;

}
.ff{
   
    font-family:  Consolas;
}

.measure {
    max-width: 100em;
}
.list
{
    background-color: #40BCD8;
}
.wid{
    width: 600px;
    border-color: white ;
    border-radius:15px;
    border-width: 2px;
    padding-top: 5px;
}